GOOGLE_DRIVE_PATH=G:\My Drive\stock
LOCAL_DRIVE_PATH=C:\local_path
TEST_PATH=C:\temp_path
DB_USERNAME=xxx
DB_PASSWORD=xxx
HOST=192.168.1.101
PRODUCTION=False
SENDER_EMAIL=xxx@gmail.com
SENDER_EMAIL_PASSWORD=xxx
RECEIVER_EMAIL=xxx@gmail.com